
footer {
	height: 130px;
    padding: 5px;
	width: 90%;
	margin-left: 5%;
}
.menu-footer{
	height: 20px;
    width: 90%;
    margin-left: 5%;
}
.menu-footer li{
	float: left;
	width: 25%;
	text-align: center;
	list-style: none;
}

.menu-footer li a {
	line-height: 20px;
	display: block;
	color: #ccc;
	text-decoration: none;
	font-family: 'Calibri';
	text-transform: uppercase;
}
.menu-footer li a:hover{
	background-color: #ccc;
	color: white;
}
hr {
	width: 90%;
}
.icons {
    color: black;
    font-size: 14px;
    margin-left: 5%;
    height: 35px;
    padding: 5px;
}

.icons li{
	float: left;
	margin-top: 1%;
	width: 5%;
	text-align: center;
	list-style: none;
}

.icons li a {
	line-height: 30px;
	display: block;
	color: #ccc;
	text-decoration: none;
	font-family: 'Calibri';
	text-transform: uppercase;
}
.icons li a:hover {
	opacity: 0.8;
}
.icons img {
	height: 35px;
	width: 35px;
}
