
article.page {
	margin-left: 16%;
    width: 70%;
    vertical-align: top;
}
.headline-page {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    background: #4169E0;
    color: white;
}



.news-post-page {
    margin-top:2%;
    padding: 5px;
    height: 850px;
    width: 100%;
}
.news-photo-page img {
    height: 300px;
    width: 600px;
    margin-left: 147px;
}
.news-name-page {
    margin-top: -17%;
    margin-left: 25%;
 
}
.news-name-page a {
    text-decoration: none;
    font-size: 20px;
    color: slategrey;
}
.news-name-page a:hover{
    color: black;
}
.news-description-page {
    margin-top: 2%;
    font-size: 19px;
    text-align: left;
    line-height: 1.5;

}