.headline {
    margin-left: 17%;
    width: 70%;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    background: #4169E0;
    color: white;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

.news-post {
    margin-left: 25%;
    margin-top:2%;
    padding: 5px;
    height: 100%;
    width: 97%;
}
.news-photo img {
    height: 160px;
    width: 210px;
}
.news-name {
    margin-top: -18%;
    margin-left: 25%;
 
}
.news-name a {
    text-decoration: none;
    font-size: 20px;
    color: slategrey;
}
.news-name a:hover{
    color: black;
}
.news-description {
    margin-left: 25%;
    margin-top: 2%;
    line-height: 1.5;
    font-family: sans-serif;
}

.news-description button {
    color: white;
    background-color: #4169E0;
    line-height: 18px;
    font-size: 15px;
    border: none;
    cursor: pointer;   
}
.news-description button:hover {
    color: #ccc;
}